[submodule "vimfiles/bundle/BufOnly.vim"]
	path = vimfiles/bundle/BufOnly.vim
	url = https://github.com/vim-scripts/BufOnly.vim.git
[submodule "vimfiles/bundle/nerdtree"]
	path = vimfiles/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vimfiles/bundle/cljfold.vim"]
	path = vimfiles/bundle/cljfold.vim
	url = https://github.com/DuckOfDoom/cljfold.vim.git
[submodule "vimfiles/bundle/ctrlp.vim"]
	path = vimfiles/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "vimfiles/bundle/ghcmod-vim"]
	path = vimfiles/bundle/ghcmod-vim
	url = https://github.com/eagletmt/ghcmod-vim.git
[submodule "vimfiles/bundle/neco-ghc"]
	path = vimfiles/bundle/neco-ghc
	url = https://github.com/eagletmt/neco-ghc.git
[submodule "vimfiles/bundle/neocomplete.vim"]
	path = vimfiles/bundle/neocomplete.vim
	url = https://github.com/Shougo/neocomplete.vim.git
[submodule "vimfiles/bundle/paredit.vim"]
	path = vimfiles/bundle/paredit.vim
	url = https://github.com/vim-scripts/paredit.vim.git
[submodule "vimfiles/bundle/rainbow"]
	path = vimfiles/bundle/rainbow
	url = https://github.com/luochen1990/rainbow.git
[submodule "vimfiles/bundle/syntastic"]
	path = vimfiles/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vimfiles/bundle/vim-airline"]
	path = vimfiles/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vimfiles/bundle/vim-classpath"]
	path = vimfiles/bundle/vim-classpath
	url = https://github.com/tpope/vim-classpath.git
[submodule "vimfiles/bundle/vim-csharp"]
	path = vimfiles/bundle/vim-csharp
	url = https://github.com/OrangeT/vim-csharp.git
[submodule "vimfiles/bundle/vim-fireplace"]
	path = vimfiles/bundle/vim-fireplace
	url = https://github.com/tpope/vim-fireplace.git
[submodule "vimfiles/bundle/vim-glsl"]
	path = vimfiles/bundle/vim-glsl
	url = https://github.com/beyondmarc/glsl.vim.git
[submodule "vimfiles/bundle/vim-misc"]
	path = vimfiles/bundle/vim-misc
	url = https://github.com/xolox/vim-misc.git
[submodule "vimfiles/bundle/vim-shell"]
	path = vimfiles/bundle/vim-shell
	url = https://github.com/Shougo/vimshell.vim.git
[submodule "vimfiles/bundle/vim-simple-todo"]
	path = vimfiles/bundle/vim-simple-todo
	url = https://github.com/vitalk/vim-simple-todo.git
[submodule "vimfiles/bundle/vimproc.vim"]
	path = vimfiles/bundle/vimproc.vim
	url = https://github.com/Shougo/vimproc.vim.git
[submodule "vimfiles/bundle/vim-gradle"]
	path = vimfiles/bundle/vim-gradle
	url = https://github.com/tfnico/vim-gradle.git
[submodule "vimfiles/bundle/vim-indent-guides"]
	path = vimfiles/bundle/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule "vimfiles/bundle/vim-easy-align"]
	path = vimfiles/bundle/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align.git
[submodule "vimfiles/bundle/vim-easygrep"]
	path = vimfiles/bundle/vim-easygrep
	url = https://github.com/dkprice/vim-easygrep.git
[submodule "vimfiles/bundle/vim-go"]
	path = vimfiles/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
