set backspace=indent,eol,start

let mapleader = ","
let g:mapleader = ","

imap jk <ESC>

map <leader>ba :action CloseAllEditorsButActive<CR>
map <leader>bc :action CloseEditor<CR>
map <leader>wc :action CloseEditor<CR> 

map <leader>r :action RenameElement <CR>

map <C-p> :action GotoClass<CR>
map <S-A-p> <A-\> <CR>
map <C-S-p> :action GotoSymbol<CR>

map <A-j> :action NextSplitter<CR>
map <A-k> :action PrevSplitter<CR>

map <C-A-j> :action MethodDown<CR>
map <C-A-k> :action MethodUp<CR>

map <A-S-j> :action GotoNextError<CR>    
map <A-S-k> :action GotoPreviousError<CR>

map <leader>fu :action ShowUsages<CR>
map <leader>fr :action GotoRelated<CR>
map <leader>fau :action FindUsages<CR>
map <leader>fd :action GotoDeclaration<CR>
map <leader>gd :action GotoTypeDeclaration<CR>

" SVN
map <leader>va :action Annotate<CR>
map <leader>vc :action ChangesView.Commit<CR>
map <leader>vr :action ChangesView.Revert<CR>
map <leader>vu :action Vcs.UpdateProject<CR>

map <leader>dt :action EditSourceInNewWindow<CR>
map <leader>ct :action CloseActiveTab<CR>
map <leader>vs :vsplit<CR>

map <leader>fi :action GotoImplementation<CR>

nnoremap '' :action Back<CR>

map <leader>nt :action LocateInSolutionExplorer<CR>
map <leader>nc <C-A-l>

" needed for intellisense to go down in search box 
map <C-n> :action EditorDown<CR>
map <C-s> :action SaveAll<CR>

map <C-d> :action EditorPageDown<CR>
map <C-u> :action EditorPageUp<CR>

nnoremap <S-j> :action PreviousTab<CR>
nnoremap <S-k> :action NextTab<CR>

map <C-j> :action EditorJoinLines<CR>

nmap <space> zz
