set backspace=indent,eol,start

let mapleader = ","
let g:mapleader = ","

set ignorecase

imap jk <ESC>
map <leader>vrc :so ~/.ideavimrc<CR>

map <leader>su :action SurroundWith<CR>

map <leader>wq :action AceAction<CR>
map <leader>wl :action AceLineAction<CR>
map <leader>ww :action AceWordAction<CR>

map <leader>wc :action CloseEditor<CR>

map <leader>q :action ShowErrorDescription<CR>

map <leader>ba :action CloseAllEditorsButActive<CR>
map <leader>bc :action CloseEditor<CR>

map <leader>rr :action RenameElement <CR>
map <leader>rv :action IntroduceVariable <CR>
map <leader>rp :action IntroduceParameter <CR>
map <leader>rf :action IntroduceField <CR>
map <leader>rc :action IntroduceConstant <CR>
map <leader>rs :action ChangeSignature <CR>
map <leader>rm :action ExtractMethod <CR>
map <leader>ri :action Inline <CR>
" Yes, this works, lol
map <leader>re :action RiderBackendAction-EncapsulateField <CR>


map <C-p> :action GotoClass<CR>
map <C-S-p> <A-\> <CR>
map <S-A-p> :action GotoSymbol<CR>

map <A-j> :action NextSplitter<CR>
map <A-k> :action PrevSplitter<CR>

map <C-S-j> :action MethodDown<CR>
map <C-S-k> :action MethodUp<CR>

map <A-S-j> :action GotoNextError<CR>    
map <A-S-k> :action GotoPreviousError<CR>
map <C-A-S-j> :action ReSharperGotoNextErrorInSolution<CR>    
map <C-A-S-k> :action ReSharperGotoPrevErrorInSolution<CR>

map <leader>fu :action ShowUsages<CR>
map <leader>fr :action GotoRelated<CR>
map <leader>fau :action FindUsages<CR>
map <leader>fd :action GotoDeclaration<CR>
map <leader>fe :action GotoImplementation<CR>
map <leader>fb :action GotoSuperMethod<CR>

map <leader>gd :action GotoTypeDeclaration<CR>

" SVN
map <leader>va :action Annotate<CR>
map <leader>vc :action ChangesView.Commit<CR>
map <leader>vr :action ChangesView.Revert<CR>
map <leader>vu :action Vcs.UpdateProject<CR>

map <leader>dt :action EditSourceInNewWindow<CR>
map <leader>ct :action CloseActiveTab<CR>
map <leader>vs :vsplit<CR>

nnoremap '' :action Back<CR>

map <leader>nt :action LocateInSolutionExplorer<CR>
map <leader>nc <C-A-l>

" needed for intellisense to go down in search box 
map <C-n> :action EditorDown<CR>
map <C-s> :action SaveAll<CR>

map <C-d> :action EditorPageDown<CR>
map <C-u> :action EditorPageUp<CR>

nnoremap <S-j> :action PreviousTab<CR>
nnoremap <S-k> :action NextTab<CR>

map <C-j> :action EditorJoinLines<CR>

nmap <space> zz15<C-e>
